body {
	font-size: 18px;
	line-height: 1.6;
	font-family: "Conv_PT_Sans-Web-Regular", sans-serif;
	color: #454547;
	min-width: 768px;
}

@font-face {
	font-family: 'Conv_PT_Sans-Web-Regular';
	src: url('fonts/PT_Sans-Web-Regular.eot');
	src: local('☺'), url('fonts/PT_Sans-Web-Regular.woff') format('woff'), url('fonts/PT_Sans-Web-Regular.ttf') format('truetype'), url('fonts/PT_Sans-Web-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AGOPUS~2';
	src: url('fonts/AGOPUS~2.eot');
	src: local('☺'), url('fonts/AGOPUS~2.woff') format('woff'), url('fonts/AGOPUS~2.ttf') format('truetype'), url('fonts/AGOPUS~2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_AGOPUS~4';
	src: url('fonts/AGOPUS~4.eot');
	src: local('☺'), url('fonts/AGOPUS~4.woff') format('woff'), url('fonts/AGOPUS~4.ttf') format('truetype'), url('fonts/AGOPUS~4.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5 {
	font-family: "Conv_AGOPUS~2", serif;
}

h1 {
	font-size: 1.1em;
	text-align: center;
	letter-spacing: 0.5px;
	padding-top: 0.3em;
	padding-bottom: 0em;
	margin-bottom: 2px;
}

.lang {
	margin: 0 auto;
	width: 90px;
}
.lang a {
	text-transform: uppercase;
	padding: 0 10px;
	color: #919194;
}
.lang a.active {
	font-weight: bold;
	color: #39393B;
}

.phone-number a {
	color: #39393B;
	letter-spacing: 1px;
}

h1 span {
	font-weight: normal;
	font-size: 0.9em;
	font-family: 'Conv_AGOPUS~4';
}

.wrap-header {
	background: url('images/texture1.jpg'), #F9F9F9;
	min-height: 120px;
}

.wrap-header:after {
	background: #f2f2f2;
    content: " ";
    display: block;
    height: 10px;
}

.logo-wrap {
	text-align: center;
	margin: 0 auto;
	width: 98px;
	height: 98px;
}

.logo {
	background: url('images/sprites.png') no-repeat;
	background-position: 0px -15px;
	width: 98px;
	height: 98px;
	position: absolute;
	top: 10px;
	-webkit-border-radius: 90px;
	   -moz-border-radius: 90px;
		    border-radius: 90px;
}
.logo.en {
	background: url('images/sprites_en.png') no-repeat;
	background-position: 0px -15px;
}

.phone-number {
	text-align: right;
	font-size: 0.9em;
	font-family: "Conv_AGOPUS~4", serif;
	padding-top: 1.5em;
	line-height: 0.8em;
}

/*
.phone-number:before {
	content: " ";
	float: left;
	background: url("../images/icon.png");
	width: 15px;
	height: 15px;
}*/

.banner {
	min-height: 800px;
	background: url('images/top-slid1.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.banner h2 {
    font-size: 3.7em;
    text-align: center;
    color: #efebe0;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.24);
    margin-top: 2.5em;
    line-height: 1.4em;
}

.advantage-wrap {
	margin-top: 77px;
	min-height: 497px;
	position: relative;
}

.advantage {
	position: absolute;
	top: 0;
	text-align: center;
	margin: 0 30px;
}

.advantage h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: "Conv_AGOPUS~2", serif;
	letter-spacing: 2.5px;
	margin-top: 27px;	
	margin-bottom: 4px;
	display: inline-block;
}

.advantage h3::after {
    background: url('images/sprites.png') no-repeat;
    background-position: -1928px -49px;
    content: " ";
    width: 40px;
    height: 15px;
    display: inline-block;
}



.advantage h3::before {
    background: url('images/sprites.png') no-repeat;
    background-position: -1857px -49px;
    content: " ";
    width: 40px;
    height: 15px;
    display: inline-block;
}

.advantage p {
    text-transform: none;
    font-size: 1.05em;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 1.1em;
    font-family: "Conv_AGOPUS~4", serif;
    text-align: center;
    margin-bottom: 9px;
}

.advantage p::after {
    background: url('images/sprites.png') no-repeat;
    background-position: -1884px -95px;
    content: " ";
    width: 57px;
    height: 10px;
    display: inline-block;
    margin-top: 15px;
}

.advantage p:last-child {
    font-size: 0.6em;
}
.advantage p:last-child:after {
    background: none;
}

ul.list {
	margin: 0 0px;
	text-align: left;
	padding: 0 0 0 5px;
}


ul.list > li {
	display: block;
	font-family: "Conv_AGOPUS~2", serif;
	font-size: 0.9em;
	line-height: 1.2em;
	margin: 0 0 18px 0;
	padding: 0 0 5px 0px;
	letter-spacing: 0.5px;
}


ul.list li:nth-child(1)::before {
    background: url('images/sprites.png') no-repeat;
    background-position: -1994px -37px;
    content: " ";
    width: 60px;
    height: 43px;
    float: left;
    display: block;
    padding-right: 75px;
}	
ul.list li:nth-child(2)::before {
    background: url('images/sprites.png') no-repeat;
    background-position: -366px -32px;
    content: " ";
    width: 60px;
    height: 52px;
    float: left;
    display: block;
    padding-right: 75px;
}	
ul.list li:nth-child(3)::before {
    background: url('images/sprites.png') no-repeat;
    background-position: -2074px -32px;
    content: " ";
    width: 60px;
    height: 51px;
    float: left;
    display: block;
    padding-right: 74px;
}	
ul.list li:nth-child(4)::before {
    background: url('images/sprites.png') no-repeat;
    background-position: -199px -41px;
    content: " ";
    width: 44px;
    height: 43px;
    float: left;
    display: block;
    padding-right: 75px;
}
ul.list li:nth-child(5)::before {
    background: url('images/sprites.png') no-repeat;
    background-position: -280px -39px;
    content: " ";
    width: 60px;
    height: 43px;
    float: left;
    display: block;
    padding-right: 75px;
}
ul.list li:nth-child(6)::before {
    background: url('images/sprites.png') no-repeat;
    background-position: -446px -33px;
    content: " ";
    width: 60px;
    height: 47px;
    float: left;
    display: block;
    padding-right: 75px;
}	
ul.list li:nth-child(7)::before {
    background: url('images/sprites.png') no-repeat;
    background-position: -531px -35px;
    content: " ";
    width: 60px;
    height: 50px;
    float: left;
    display: block;
    padding-right: 75px;
}	

.bottom {
    margin: 0 auto;
    max-width: 280px;
}


.cusok1 {
	background: url('images/ck1.png') no-repeat center;
	height: 48px;
	width: 100%;
	margin-top: 80px;
}

.assortiment-wrap {
	background: url('images/assortbg.jpg') no-repeat center;
	min-height: 1074px;
	position: relative;
}

.assortiment-wrap .artek,
.assortiment-wrap .horn,
.assortiment-wrap .orehi {
	position: absolute; 
}

.assortiment-wrap .artek {
	top: 252px; 
}
.assortiment-wrap .horn {
	bottom: 100px;
	right: 0px; 
}
.assortiment-wrap .orehi {
	bottom: -80px;
	right: 0; 
}

.assortiment-wrap .container .row h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin-top: 3em;
    margin-bottom: 2.45em;
    color: #f6ebd2;
}

.block-prev {
	position: relative;
}

.sector {
	max-width: 271px;
	width: 100%;
}

.sector h3 {
	font-size: 1.2em;
	color: #fad0a2;
	font-family: "Conv_AGOPUS~4", sans-serif; 
	margin-top: 4px;
	font-weight: normal;
	letter-spacing: 0.5px;
}

.sector.type1 {
	height: 361px;
}

.sector.type2 {
	height: 196px;
	margin-top: 20px;
}

.sector.type3 {
	height: 286px;
}

.sector.type4 {
	height: 271px;
	margin-top: 20px;
}

.sector.type5 {
	height: 179px;
	margin-top: 20px;
}

.sector.type5:nth-child(1) {
	margin-top: 0px;
}

.sector.type6 {
	height: 249px;
}

.sector.type7 {
	height: 305px;
	margin-top: 20px;
}

.tilter__caption {
	text-align: center;
}

span.icon {
	background: url('images/sprites.png') no-repeat;
	display: inline-block;
	width: 50px;
	height: 70px;
}

span.icon-line {
	background: url('images/sprites.png') no-repeat;
	background-position: -1287px -51px;
	display: inline-block;
	width: 70px;
	height: 15px;
}

span.icon.horeca {
	background-position: -680px -25px;
}

span.icon.ves {
    background-position: -760px -37px;
    width: 63px;
    height: 46px;
}

span.icon.roj {
    background-position: -600px -30px;
    width: 63px;
    height: 60px;
}

span.icon.led {
    background-position: -848px -25px;
    width: 63px;
    height: 60px;
}

span.icon.lak {
    background-position: -921px -25px;
    width: 63px;
    height: 63px;
}

span.icon.bat {
    background-position: -1002px -25px;
    width: 63px;
    height: 55px;
}

span.icon.br {
    background-position: -1208px -25px;
    width: 63px;
    height: 55px;
}

span.icon.st {
    background-position: -1079px -25px;
    width: 63px;
    height: 64px;
}

span.icon.es {
    background-position: -1138px -25px;
    width: 63px;
    height: 64px;
}

.type1 .tilter__caption {
	padding: 0 0 7em 0;
}

.type2 .tilter__caption {
	padding: 1.2em;
}

.type3 .tilter__caption {
	padding: 0 0 5em 0;
}

.type4 .tilter__caption {
	padding: 0 0 3.5em 0;
}

.type5 .tilter__caption {
	padding: 0 0 1.5em 0;
}

.type5 .tilter__caption:nth-child(3) {
    padding: 0 0 1.20em 0;
}

.type6 .tilter__caption {
	padding: 0 0 3.5em 0;
}

.type7 .tilter__caption {
	padding: 0 0 5.5em 0;
}

/*shadows blocks*/
.type2 .tilter__figure::before {
	top: 1%;
}

.type3 .tilter__figure::before {
	top: 4%;
}

.type4 .tilter__figure::before {
	top: 4%;
}

.type5 .tilter__figure::before {
	top: 1%;
}

.type6 .tilter__figure::before {
	top: 3%;
}
/*shadows blocks end*/

.cusok2 {
	background: url('images/ck2.png') no-repeat center;
	width: 100%;
	height: 50px;
}

.polufabr-wrap {
	background: url('images/polufbg.jpg') no-repeat center center;
	background-attachment: fixed;
	min-height: 1000px;
	background-size: cover;
}

.polufabr-wrap .container .row h2,
.polufabr-wrap .container-fluid .row h2,
.action-wrap h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin-top: 3em;
    margin-bottom: 2.45em;
    color: #fad0a2;
}

.slick-arrow {
	display: none;
}

.polufabr-slider .slid {
	/*overflow: hidden;*/
	width: 100%;
}

.position-wrap {
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	float: left;
	width: 32%;	
}

.button {
	-webkit-box-shadow: 0px 6px 30px 0px rgba(255, 255, 255, 0.46);
	-moz-box-shadow:    0px 6px 30px 0px rgba(255, 255, 255, 0.46);
	box-shadow:         0px 6px 30px 0px rgba(255, 255, 255, 0.46);
	border: 1px solid #fad0a2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 58px;
	text-align: center;
	margin-top: 2em;
	padding: 8px;
	display: block;
}

.assortiment-wrap .button {
    border: 1px solid #f6ebd2;
}
.assortiment-wrap .button p {
    color: #f6ebd2;
}
.assortiment-wrap .hvr-ripple-out:before {
	border: #fad0a2 solid 3px
}
.assortiment-wrap .bottom {
	margin-top: 5rem;
}

.button p {
	color: #fad0a2;
	text-decoration: none; 
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.1em;
	margin-top: 3px;
}

.button:hover,
.button:active {
	color: #F9E0C2;
	text-decoration: none;
}

.cusok3 {
	background: url('images/ck3.png') no-repeat center;
	height: 42px;
	width: 100%;
	margin-top: 112px;
}

.holobor-wrap {
	background: url('images/oborbg.jpg') repeat-y center center;
	min-height: 614px;
}

.holobor-wrap ul {
	padding-left: 20px;
}

.cusok4 {
	background: url('images/ck4.png') no-repeat center;
	height: 48px;
	width: 100%;
}

.holobor-wrap h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin-top: 2em;
    margin-bottom: 1.15em;
    color: #fad0a2;
}

.holobor-wrap p {
	color: #e4d9be;
}

.holobor-wrap ul li {
	color: #e4d9be;
	padding-bottom: 15px;
	list-style-type: none;
}

.slider-obor-wrap {
	text-align: center;
}

.slider-obor {
	text-align: center;
	width: 50%;
	display: inline-block !important;
}

.slider-obor slid {
	display: inline-block;
}

.slider-obor h3 {
    margin-top: 2.7em;
    font-weight: normal;
    margin-bottom: 1.8em;
}

.slider-obor h3 span {
	font-weight: bold;
}

.slider-obor p {
	font-size: 0.9em;
	border-top: 2px solid #464648;
	margin-top: 10px;
	text-align: left;
	color: #464648;
	padding-top: 10px;
	line-height: 1.3em;
}

.slid {
	width: 50%;
	display: inline-block;
}

.action-wrap {
	display: none;
	background: url('images/actionbg.jpg') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 614px;
}

.action-wrap h3 {
	font-size: 1.6em;
	margin-bottom: 1.5em;
}

.action-wrap p {
	color: #e4e4e8;
	text-align: center;
	margin-bottom: 115px;
}

.action {
	overflow: hidden;
}

.action .text {
	float: left;
	width: 50%;
}

.action .image {
	float: left;
	width: 47%;
	margin-right: 3%;
}

.text h4 {
	color: #fad0a2;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 0.7em;
}

.text h4 span {
	font-weight: normal;
}

.text p {
	text-align: left;
	color: #cdcdcf;
}

.cusok5 {
	background: url('images/ck5.png') no-repeat center;
	height: 47px;
	width: 100%;
	margin-top: 50px;
}

.svyaz {
	background: url('images/svyazbg.jpg') no-repeat center center;
	min-height: 827px;
}

.svyaz h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin-top: 2em;
    margin-bottom: 1.15em;
    color: #16110c;
}

.svyaz p {
	width: 80%;
}

.fura {
	background: url('images/fura.png') no-repeat left center;
	min-height: 535px;
	margin-top: 25px;
}

.fura .block-svyaz {
	background: #f9eed5;
	padding: 12px 15% 35px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	margin-top: 50px;
}

.fura .block-svyaz h5 {
	text-transform: uppercase;
	font-size: 1.05em;
	line-height: 1.2em;
	margin-bottom: 0.9em;
	letter-spacing: 0.5px;
}

.fura .block-svyaz h5 span {
	text-transform: none;
}

.block-svyaz input {
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid #454547;
	width: 100%;
	height: 45px;
	font-size: 0.95em;
}

.block-svyaz button {
	height: 45px;
	width: 60%;
	text-align: center;
	background: #454547;
	border-radius: 5px;
	margin-top: 10px;
}

.cusok6 {
	background: url('images/ck6.png') no-repeat center;
	height: 47px;
	width: 100%;
}

#map {
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
}

.maps {
	background: url("images/maps.jpg");
	min-height: 550px;
	position: relative;
}

.maps .panel {
	background: #fff;
	opacity: 0.8;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         0px 1px 5px 0px rgba(0, 0, 0, 0.15);
	margin-top: 7%;
}

.maps h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 1.7em;
    margin: 35px 0 25px;
}

.maps .icon-tel {
    background: url('images/sprites.png') no-repeat;
    background-position: -120px -32px;
    width: 50px;
    height: 60px;
    display: block;
    margin-left: 15px;
}

.maps .icon-map {
    background: url('images/sprites.png') no-repeat;
    background-position: -1596px -26px;
    width: 76px;
    height: 60px;
    display: block;
}

.maps .city {
	font-family: "Conv_AGOPUS~4", serif;
	font-weight: normal;
	font-size: 1.1em;
	display: inline-block;
	margin: 0;
}
.maps .num {
	font-family: "Conv_AGOPUS~2", serif;
	font-size: 1.1em;
	display: inline-block;
	margin-left: 10%;
	margin: 0;
}

.cusok7 {
	background: url('images/ck7.png') no-repeat center;
	height: 54px;
	width: 100%;
	margin-top: 68px;
}

footer {
	background: #F9EED5;
	font-family: "Conv_AGOPUS~4", serif;
}

.copyr {
	margin: 30px 0 45px;
	text-align: center;
}

.social {
	text-align: right;
}

.social span {
	background: url('images/sprites.png') no-repeat;
	width: 39px;
	height: 39px;
	display: inline-block;
	margin-left: 10px;
}

.social a:nth-child(1) span {
	background-position: -1698px -37px;
}
.social a:nth-child(2) span {
	background-position: -1745px -37px;
}
.social a:nth-child(3) span {
	background-position: -1792px -37px;
}
.social a:nth-child(4) span {
	background-position: -1697px -85px;
}


@media only screen and (min-width:992px) and (max-width:1199px) {
	.assortiment-wrap {
	    background: url('images/assortbg2.jpg') no-repeat center -289px;
	    min-height: 785px;
	}

	.cusok2 {
	    background: url('images/ck2-1.png') no-repeat center;
	    margin: 0;
	}

	.assortiment-wrap .bottom {
	    margin-top: -1rem;
	}
	
	.assortiment-wrap .artek {
	    top: 10px;
	    left: -200px;
	}
	.cusok1 {
		background: url('images/ck1-1.png') no-repeat center;
	}
	.assortiment-wrap .horn {
	    top: 18px;
	    right: -200px;
	}
	.sector.type1 {
	    height: 278px;
	}
	.sector.type2 {
	    height: 154px;
	}
	.sector.type3 {
	    height: 220px;
	}
	.sector.type4 {
	    height: 208px;
	    margin-top: 22px;
	}
	.sector.type5 {
	    height: 135px;
	}
	.sector.type6 {
	    height: 190px;
	}
	.sector.type7 {
	    height: 234px;
	}
	.type5 .tilter__figure::before {
	    top: 3%;
	}
	.tilter__figure::before {
	    top: 6%;
	}
	.tilter__deco {
    	height: 105%;
    }
    .type1 .tilter__caption {
	    padding: 0 0 4em 0;
	}
	.type2 .tilter__caption {
	    padding: 0.2em;
	}
	.type3 .tilter__caption {
    	padding: 0 0 3em 0;
	}
	.type4 .tilter__caption {
    	padding: 0px 0 2em 0;
	}
	.type5 .tilter__caption:nth-child(3) {
	    padding: 0 0 0.2em 0;
	}
	.type6 .tilter__caption {
    	padding: 0 0 1.5em 0;
	}
	.type7 .tilter__caption {
    	padding: 0 0 3.5em 0;
	}
	.polufabr-wrap {
	    min-height: 1010px;
	}
}

@media only screen and (min-width:0px) and (max-width:991px) {
	.container {
	    width: 768px;
	}

	.logo {
		margin-top: 2px;
	}
	.phone-number {
		padding-top: 1.5em;
	}

	.svyaz h2 {
		margin-bottom: 0.75em;
	}

	.fura .block-svyaz {
		margin-top: 20px;
	}

	.fura .block-svyaz h5 {
		line-height: 1em;
		margin-bottom: 0.6em;
	}

	.block-svyaz button {
		margin-top: 0;
	}

	.block-svyaz {
		height: 275px;
	}

	.banner h2 {
    	font-size: 2.5em;
    	margin-top: 3.5em;
    }
    .advantage {
	    width: 75%;
	}
    .advantage p:last-child {
    	font-size: 0.6em;
    	padding-left: 11px;
	}
	.cusok1 {
	    background: url('images/ck1-1.png') no-repeat center;
	}
	.cusok2 {
	    background: url('images/ck2-1.png') no-repeat center;
	    margin: 0;
	}
	.assortiment-wrap .container .row h2 {
	    margin-top: 1.5em;
	    margin-bottom: 1.45em;
	}
	.assortiment-wrap .horn {
	    top: 500px;
	    right: 0px;
	}
	.assortiment-wrap .orehi {
	    bottom: 150px;
	    right: 0;
	}
	.assortiment-wrap .artek {
	    top: 52px;
	    left: -79px;
	}
	.assortiment-wrap {
	    background: url('images/assortbg2.jpg') repeat center top;
	    min-height: 1437px;
	    background-size: cover;
	}
	.cusok1 {
	    margin-top: 52px;
	}
	.sector.type5:nth-child(1) {
	    margin-top: 20px;
	}
	.sector.type6 {
	    margin-top: 20px;
	}
	.button {
		line-height: 1.5em;
		height: 75px;
		margin-top: 1em;
	}

	.button p {
		margin-top: 0;
		line-height: 2.7em;
	}
	.polufabr-wrap {
	    min-height: 842px;
	}
	.polufabr-wrap .container .row h2, .action-wrap h3 {
	    margin-top: 2em;
	}
	.cusok3 {
	    margin-top: 75px;
	}
	.holobor-wrap h2 {
	    margin-top: 1em;
	}
	.action-wrap h3 {
		margin-top: 2em;
	}
	.action-wrap p {
	    margin-bottom: 75px;
	}
	.svyaz {
	    min-height: 127px;
	}
	.svyaz p {
	    width: 100%;
	}
	.fura {
		background: none;
		min-height: 450px;
		margin-top: 0px;
	}
    .block-svyaz button {
	    width: 80%;
	}

	.block-svyaz input {
	    font-size: 0.85em;
	}
	.maps {
	    min-height: 520px;
	}
}